.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px;
  width: 100%;
  height: 30px;
  background-color:  rgb(224 242 254) ; 
  background:#2176d2;
  margin: 0;
  position: fixed;
  margin-top: 0;
  left: 0;
  z-index: 10;
  color: black;
   /* box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.73);  */
}
 .company-header{
  font-size: 50px;
  font-weight: 600;
} 
 .company-name-header p{
  text-align: center;
} 
.heading {
  font-size: 23px;
  font-weight: bold;
}
.search-message{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  /* background-color: transparent; */
  background-color: white;
  border: 2px; 
  border-radius: 20px; 
  height: 35px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  */
}

.search {
  flex-grow: 1;
  border: none;
  padding: 5px;
  font-size: 14px;
  border-radius:20px;
  outline: none;
  color: #34495E; 
  background-color: transparent;
}

.search::placeholder {
  color: rgb(138, 135, 135); 
}

.search-btn {
  background-color:transparent;
  border: none;
  padding:10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn i {
  color: black; 
}
.company-about {
  margin-right: 13px;
  font-size: 20px;
}
.company-about a {
  text-decoration: none;
  color: black;
}
.message-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  width: 43px;
  height: 43px;
  position: relative;
  cursor: pointer;
}
.message-icon{
  font-size: 24px;
}
.msg-circle {
  position: absolute;
  top: 1.6rem;
  right: 34.5rem;
  z-index: 1;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 9999px;
  background-color: crimson;
}
.red-circle {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: crimson;
  border-radius: 9999px;
  opacity: 0.75;
  animation-duration: 1s;
  animation-name: ping;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 2px 6px;
}
/* Popup Animation */
@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notification-popup {
  position: fixed;
  top: 100px; 
  right: 0; 
  left:auto;
  background: white;
  border-left: 1px solid #ccc;
  padding: 16px;
  z-index: 100;
  height: 100vh;
  overflow-y: auto;
  width: 300px; 
  transform: translateX(100%); 
  transition: transform 0.3s ease; 
}
.notification-popup.visible {
  transform: translateX(0); /* Slide into view */
}
.delete-btn {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.delete-btn:hover {
  background-color: #e60000;
}
.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 18px;
}
.user-menu,.svg-profile{
  width: 50px;
  height: 50px;
  color: white;
  cursor:pointer ;
}
.user-menu .profile-img{
  font-size: 16px;
}
.profile,
.user-name {
  font-size: medium;
  font-weight: 500;
  text-align: right;
}
.profile,
.user-role {
  font-size: medium;
  font-weight: 500;
}
.profile,
.picture {
  margin-left: 10px;
}
.toggle-menubar {
  cursor: pointer;
}
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
}

.picture {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 55px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  list-style: none;
  padding: 10px;
  min-width: 60px;
}

.dropdown-menu li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown-menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
}

.dropdown-menu li:hover {
  color: #388087;
}
.dropdown-menu li a:hover {
  color: #388087;
}
.highlight {
  
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 1200px){
  .header{
    padding: 20px;
  }
}
@media (max-width: 992px){
  .header{
    padding: 10px;
  }
}
@media (max-width: 768px){
  .header{
    padding: 10px;
  }
  .company-name-header p{
    font-weight: 5;
    font-size: 20px;
  }
  .heading{
    font-size: 10;
  }
  .search-box {
    width: 140px;
    height: 20px;
    padding: 5px;
  }
  .search {
    width: 100%;
    padding: 5px;
    border-radius:10px;
    
  }
  
  .message-icon-div{
    width:30px;
    height: 30px;
    margin-left: 1px;
  }
  .user-menu{
    width: 40px;
    height: 25px;
    margin-right: 10px;
  }
}
@media (max-width: 576px){
  .header{
    padding: 10px;
    width: 105%;
  }
  .company-name-header p{
    font-weight: 5;
    font-size: 20px;
  }
  .heading{
    font-size: 10;
  }
  .search-box {
    width: 140px;
    height: 20px;
    padding: 5px;
  }
  .search {
    width: 100%;
    padding: 5px;
    border-radius:10px;
    
  }
  
  .message-icon-div{
    width:30px;
    height: 30px;
    margin-left: 1px;
  }
  .user-menu{
    width: 40px;
    height: 25px;
    margin-right: 10px;
  }
  
}