.power-container-div{
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}
.power-dashboard{
    margin-left: 200px;
    margin-top: 100px;
}
.power-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 24px;
}
.power-graph{
    margin: 20px 0;
    border:1px solid #E0E0E0;
    padding: 10px;
    border-radius: 8px;
}
.historical-graph{
    border:1px solid #E0E0E0;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width:800px;
}
