.power-usage-card{
  display:flex;
  flex-direction:row;
  gap:10px;
  justify-content:center;
  align-items:center;
}

.power-cards, .downtime-card {
    padding: 10px;
    /* border:1px solid #E0E0E0; */
    background-color: rgb(240 253 250);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    width:200px;
    height:130px;
  }
  .alert {
    background-color: #ffe6e6;
    color: #b30000;
    padding: 1rem;
    border: 1px solid #ff4d4d;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .alert h3 {
    margin: 0;
    font-weight: bold;
  }
  
  .alert p {
    margin: 0.5rem 0 0;
  }