.power-usage-card{
  display:flex;
  flex-direction:row;
  gap:10px;
  justify-content:center;
  align-items:center;
}

.power-cards, .downtime-card {
    background-color: white;
    padding: 10px;
    border:1px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    width:200px;
    height:130px;
  }
.alert {
    background-color: #ffcccb; /* Light red background */
    border: 1px solid #f44336; /* Red border */
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .alert strong {
    color: #f44336;
  }
  
  .alert ul {
    padding-left: 20px;
  }