.oee-container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100vw; 
  height: 100vh; 

}
.oee-grid{
    margin-top: 60px;
    display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1200px) {
  .oee-container{
    flex-direction: column;
  }
}
@media  (max-width: 768px) {
    .oee-container {
      flex-direction: column; 
    }
  
    .oee-grid {
      padding: 10px; 
    }
  }