.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    padding: 20px;
  }
  
  .reset-password-part {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    text-align: center;
  }
  
  .reset-password-part h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reset-password-part p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .user-box {
    margin-bottom: 15px;
  }
  
  .user-box label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
 .reset-password-container button{
  width: 60%;
  padding: 10px;
  margin-top: 30px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color:black;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
&:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#1281ea;
  border-radius: 10rem;
  z-index: -2;
}
&:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: blue;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
&:hover {
  color: #fff;
  &:before {
    width: 100%;
  }
}
}
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .reset-password-part {
      width: 100%;
      padding: 15px;
    }
  
    .reset-password-part h2 {
      font-size: 22px;
    }
  
    .reset-password-part p,
    .user-box label,
    .user-box input,
    button {
      font-size: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .reset-password-part {
      padding: 10px;
    }
  
    .reset-password-part h2 {
      font-size: 20px;
    }
  
    .reset-password-part p,
    .user-box input {
      font-size: 13px;
      padding: 8px;
    }
  
    button {
      font-size: 16px;
    }
  }
  
  @media (max-width: 340px) {
    .reset-password-container {
      padding: 10px;
    }
  
    .reset-password-part {
      padding: 10px;
    }
  
    .reset-password-part h2 {
      font-size: 18px;
    }
  
    .reset-password-part p,
    .user-box input {
      font-size: 12px;
      padding: 6px;
    }
  
    button {
      font-size: 14px;
    }
  }