@import url('https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900');

body {
  margin: 0;
  font-family:"Noto Sans" ,"Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(248 250 252); */
  background-color: white;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
/* df-messenger {
  z-index: 999;
  position: fixed;
  --df-messenger-bot-message: #bdfcbf;
  --df-messenger-font-color: #000;
  --df-messenger-font-family: 'Google Sans', sans-serif;
  --df-messenger-chat-background: #f3f6fc;
  --df-messenger-message-user-background: #d3e3fd;
  --df-messenger-send-icon: #7ec472;
  --df-messenger-message-bot-background: #fff;
  bottom: 16px;
  right: 16px;
} */
/* .df-messenger-chat-bubble{
  --df-messenger-chat-window-height:100px;
  --df-messenger-chat-window-width:100px;
} */